@model DapperData.Models.TareaCreateViewModel

<h2>Nueva Tarea</h2>

<form method="post">
    <input type="hidden" asp-for="TableroId" />
    <input type="hidden" asp-for="ColumnaId" />

    <div>
        <label>Título</label>
        <input asp-for="Titulo" class="form-control" />
    </div>

    <div>
        <label>Descripción</label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
    </div>

    <button class="btn btn-success mt-2">Crear</button>
</form>
