@{
    ViewData["Title"] = "Tableros";
}

<h1>Tableros</h1>

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Demo Board</h5>
                <p class="card-text">Tablero de ejemplo.</p>
                <a class="btn btn-primary" href="/Tableros/Detalle/1">Abrir</a>
            </div>
        </div>
    </div>
</div>
